body{
    background-color: black ;
    background-image: url(https://img00.deviantart.net/9f99/i/2010/266/b/e/strange_planet_png_by_ravenmaddartwork-d2zau51.png) 
}
h1, h2, h3 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-shadow: 3px 3px black;
    box-shadow: 3px 6px 6px white;
}
li{
    color: white;
    font-size: 28px;
}
hr{
    color: white;
}
table{
    color: white;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 45px;
    background-color: orange;
    padding: 30px;
    text-shadow: 5px 5px black;
}
h2, h3{
    text-align: center;
    font-size: 35px;
    background-color: orange;
    text-shadow: 2px 2px black;
}   
a{
    font-size: 35px;   
}
img{
    box-shadow: 10px 10px white;
}